@import 'reset';
//reset baigias
$negras: 'Alegreya SC', serif;
$drochi: 'Trocchi', serif;

body{
  background-color: white;
}

section.pirma{
  background-image: url('../img/dazu-background.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  header{
    nav{
      padding:32px 0 15px 0;
      width: 70%;
      display: block;
      margin: 0 auto;
      background-image: url('../img/balta-sasyskele.png');
      background-size: 100% 80%;
      background-repeat: no-repeat;
      img{
        display: inline-block;
        vertical-align: middle;
        padding-left: 25px;
        padding-bottom: 25px;
      }
      ul{
        display: inline-block;
        vertical-align: middle;
        li{
          display: inline-block;
          padding-left: 37px;
          padding-bottom: 40px;
          a{
            font-family: $drochi;
            display: inline-block;
            text-decoration: none;
            color:#151515;
            font-size: 16px;
          }
        }
      }
    }
  }
  > ul{
    position:absolute;
    right:15%;
    top:15%;
    li{
      a{
        text-decoration: none;
        color:white;
        font-family: $drochi;
        font-size: 24px;
        img{
          display: inline-block;
          vertical-align: middle;
          padding-right: 10px;
        }
      }
    }
  }
  h1{
    //padding-top: 290px;
    padding-top: 15%;
    color:white;
    font-family: $negras;
    font-size: 60px;
    text-align: center;
  }
  h2{
    padding-top: 20px;
    color:white;
    font-family: $drochi;
    font-size: 30px;
    text-align: center;
  }
  img[src="img/arrow.png"]{
    position: absolute;
    bottom:3%;
    left:50%;
    transform: translate(-50%,-50%);
  }
}
section.antra{
  background-image: url('../img/valtis-dazu.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  h1{
    font-family: $negras;
    padding-top: 80px;
    padding-bottom:130px;
    font-size: 60px;
    color:white;
    text-align: center;
    img{
      padding-right: 30px;
    }
  }
  h2{
    text-transform: uppercase;
    color:#6ca7f2;
    font-size:48px;
    font-family:$negras;
    padding-bottom:30px;
  }
  p{
    color:white;
    font-size:24px;
    font-family:$drochi;
  }
  .row{
    padding-bottom: 60px;
  }
  .row:last-child{
    padding-bottom:155px;
  }
}

@media (max-width:1350px){
  section.pirma {
    header {
      nav {
        width: 80%;
      }
    }
  }
}

