/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Cia prasideda mano kodas*/

/*.vienas{*/
    /*background-color: red;*/
    /*display: block;*/
    /*margin:0 auto;*/
    /*width:50%;*/
/*}*/
/*.du{*/
    /*background-color: darkblue;*/
    /*float: right;*/
/*}*/
/*.trys{*/
    /*background-color: antiquewhite;*/
    /*float: left;*/
/*}*/
/*.keturi{*/
    /*background-color: orange;*/
    /*display: none;*/
/*}*/
/*.penki{*/
    /*background-color: blueviolet;*/
    /*display: block;*/
    /*margin:0 auto;*/
    /*width:50%;*/
/*}*/
/*.sesi{*/
    /*background-color: aqua;*/
    /*float: left;*/
/*}*/
/*.septyni{*/
    /*background-color: green;*/
    /*float: right;*/
/*}*/
/*.astuoni{*/
    /*background-color: brown;*/
    /*display: block;*/
    /*margin:0 auto;*/
/*}*/
/*.clearfix{*/
    /*clear:both;*/
    /*width:100%;*/
    /*height:0;*/
/*}*/
/*.centras-kaire{*/
    /*width: 25%;*/
    /*float: left;*/
/*}*/
/*.centras-desine{*/
    /*width: 25%;*/
    /*float: right;*/
/*}*/
/*body{*/
    /*font-size: 0;*/
/*}*/
/*div{*/
    /*width:12.5%;*/
    /*height: 50px;*/
    /*font-size: 24px;*/
    /*display: inline-block;*/
/*}*/
body{
    background-color: grey;
}
header{
    background-color: black;
    display: block;
}
header nav{
    width:80%;
    display: block;
    margin:0 auto;
}
header nav ul{
    color: white;
}
header nav ul li{
    display: inline-block;
    padding:20px;
    border-right: 1px solid white;
}
body section{
    width:80%;
    display: block;
    margin:0 auto;
}
section div{
    background-color: white;
    margin: 10px 0;
}
section div h1{
    font-weight:bold;
    font-size: 20px;
    padding:10px 20px;
}
section div p{
    font-size: 16px;
    padding:0 20px 20px 20px;
}
section div:first-child{
    margin-top: 40px;
}
section div:last-child{
    margin-bottom: 40px;
}
section div:nth-of-type(2){
    font-size: 0;
}
section div:nth-of-type(2) div{
    margin:0;
    display: inline-block;
    width:50%;
    box-sizing: border-box;
}
