/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Nuo cia prasidejo mano kodas*/



/*:root{
	font-size:10px;
}*/

/*
paprastas tagas svoris - 1,
klases, psedo-klases - 10,
id - 100
 */
/*section *{
	margin-bottom: 30px;
}
h1.mokomes{
	font-size: 4rem;
	color:blue;
}
h1{
	color:red;
}
h1.mokomes{
	color:green;
}
#tarkim{
	color:violet;
}

p{
	font-size: 6rem;
}
div{
	height: 100vh;	
}
li {
	color:blue;
}
section .pvz ul li{
	color:orange;
}*/
/*img[src="123.jpg"]{

}
a[href="fsfdfs"]{

}*/

/*@media (max-width: 800px){
	:root{
		font-size: 8px;
	}
}*/
/*
h1{
	color:orange;
	font-size: 28px;
}
p{
	font-style: italic;
	color:black;
}
p>span{
	color:blue;
}
ol li:nth-of-type(even){
	background-color: black;
}
ol li>span{
	color: white;
}*/
/*.flip-scale-2-hor-bottom {
	-webkit-animation: flip-scale-2-hor-bottom 0.5s linear both;
	        animation: flip-scale-2-hor-bottom 0.5s linear both;
}*/
/* ----------------------------------------------
 * Generated by Animista on 2017-11-24 10:47:36
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-scale-2-hor-bottom
 * ----------------------------------------
 */
/*@-webkit-keyframes flip-scale-2-hor-bottom {
  0% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  50% {
    -webkit-transform: translateY(50%) rotateX(90deg) scale(2);
            transform: translateY(50%) rotateX(90deg) scale(2);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  100% {
    -webkit-transform: translateY(100%) rotateX(180deg) scale(1);
            transform: translateY(100%) rotateX(180deg) scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
}
@keyframes flip-scale-2-hor-bottom {
  0% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  50% {
    -webkit-transform: translateY(50%) rotateX(90deg) scale(2);
            transform: translateY(50%) rotateX(90deg) scale(2);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  100% {
    -webkit-transform: translateY(100%) rotateX(180deg) scale(1);
            transform: translateY(100%) rotateX(180deg) scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
}
*/
section{
	margin-left: 20px;
}
h1{
	margin-top: 15px;
	margin-bottom: 15px;
	font-weight: bold;
	font-size: 24px;
}
p{
	margin-bottom: 15px;
}
ul{
	margin-bottom: 20px;
}
ul li>span{
	background-color: green;
	color:white;
	border-radius: 20px;
	border:1px solid black;
	margin:10px 20px 10px 100px;
}
ul li{
	margin-bottom:10px;
}
table{
	margin-bottom: 40px;
}
table, tr, td, th{
	border:1px solid black;
	vertical-align: middle;
	font-size: 20px;
}
td{
	padding: 5px 40px 5px 20px;
}
tr:nth-of-type(even){
	background-color: rgb(100, 123, 150);
}
tr{
	background-color: rgb(100, 123, 234);
}
tr:first-child{
	background-color: rgb(100, 90, 234);
	color:white;
	border-bottom: 3px solid black;
}
tr>th:first-child, tr>th:last-child{
	border-radius: 20px;
}
fieldset{
	border:1px solid black;
	width: 30%;
}
fieldset legend{
	margin-left: 20px;
	margin-bottom: 20px;
}
.wrapper{
	margin-left: 20px;
	margin-bottom: 20px;
	position: relative;
}
.wrapper > input, .wrapper select, .wrapper span:last-child{
	position: absolute;
	top:0;
	left:200px;
}
button{
	margin-top:20px;
	margin-left: 300px;
	color:white;
	background-color: green;
	border-radius: 20px;
}




























